extends ./layout/index

block contenido

    main.container.mt-5    
        .row 
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quasi nulla reiciendis veritatis architecto unde facilis repellat iure iste molestiae earum aliquam iusto placeat possimus commodi dignissimos nostrum, aliquid reprehenderit. Lorem ipsum dolor sit amet consectetur adipisicing elit

                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. At saepe, recusandae cum distinctio quibusdam ipsam dolorum architecto perferendis? Ad dolorem accusantium atque soluta necessitatibus sed at quasi recusandae reprehenderit aut.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex inventore facilis voluptatum eaque eos iusto iure, blanditiis tempore, animi, odio minima suscipit amet maiores tempora quae eveniet adipisci! Voluptatum, facilis. 
    .listado-iconos     
        .container-mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid md-4" )
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores obcaecati vero nesciunt nobis eligendi est id repellendus, mollitia dolorem, excepturi dignissimos cumque perspiciatis rerum fuga. Adipisci modi veritatis in vitae?
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono seguridad", class="img-fluid md-4" )
                    h2.mb-4 Mejores Destino 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores obcaecati vero nesciunt nobis eligendi est id repellendus, mollitia dolorem, excepturi dignissimos cumque perspiciatis rerum fuga. Adipisci modi veritatis in vitae?
                .col-md-4 
                    img(src="img/icono_precio.svg", alt="icono seguridad", class="img-fluid md-4" )
                    h2.mb-4 Precio
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores obcaecati vero nesciunt nobis eligendi est id repellendus, mollitia dolorem, excepturi dignissimos cumque perspiciatis rerum fuga. Adipisci modi veritatis in vitae?